@import "./utils/fonts";
@import "./utils/variables";
@import "./base";
@import "./utils/texts";
@import "./utils/utils";
@import "./utils/mixins";

/*in alphabet order*/
@import "./components/buttons";
@import "./components/carousel-button";
@import "./components/chef-card";
@import "./components/format-card";
@import "./components/input";
@import "./components/links";

@import "./layouts/advantages-section";
@import "./layouts/chefs-section";
@import "./layouts/contacts-section";
@import "./layouts/container";
@import "./layouts/footer";
@import "./layouts/form-terms";
@import "./layouts/formats-section";
@import "./layouts/header";
@import "./layouts/hero-section";
@import "./layouts/modal";
@import "./layouts/section";
@import "./layouts/traditions-section";

/* .flag-ukraine {
  width: 300px;
  height: 200px;
  background: linear-gradient(to bottom, #ffd700 50%, #0057b8 50%);
} */
